<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ShopContext"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=ShopManagement; Integrated security=True" 
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>